<footer class="footer">
    <div class="container">
        <nav>
            <ul class="footer-menu">
                <li>
                    <a href="https://bpmpro.co" target="_blank">
                        Home
                    </a>
                </li>
            </ul>
            <p class="copyright text-center">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                <a href="https://bpmpro.co" target="_blank">BPMPRO Metrology v1.0</a>, made with love by CielTechno SAS
            </p>
        </nav>
    </div>
</footer>